@media screen and (max-width: 321px) {
    
/*      Header      */

    .header {
        background: #FFFFFF;
    }

    menu {
        height: 88px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .right-box {
        display: flex;
    }

    .left-box {
        height: 50px;
        display: flex;
        align-items: center;
        margin-left: 16px;
    }

    .img-burger {
        width: 40px;
        height: 40px;
        background-image: url("images/burger.svg");
        background-repeat: no-repeat;
        
    }

    .cente-box {
        display: none;
    }

    .menu__img-logo {
        margin-left: 16px;
    }

    .img-repair {
        width: 40px;
        height: 40px;
        background-image: url("images/repair.svg");
        background-repeat: no-repeat;
        margin-left: 32px;
    }

    .img-repair::before {
    content: url("images/divider.svg");
    position: relative;
    right: 36px;
    top: 4px;
    }

    .img-checkstatus {
        width: 40px;
        height: 40px;
        background-image: url("images/checkstatus.svg");
        background-repeat: no-repeat;
        margin-left: 16px;
    }



    /*      Section       */

    .scroll-main {
        background-color: #F8F8F8;
    }

    .scroll__title {
        padding-left: 16px;
        padding-top: 24px;
        
    }

    .scroll__title::before {
        content: url("images/highlight.svg");
        position: relative;
        left: -17px;
        top: 12px;
    }

    .menu-list {
        margin-top: 24px;
        margin-left: 16px;
    }

    .menu-list__items {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
    }

    .menu-list__item a {
        color: #7E7E82;
    }

    .menu-list__item  {
        border: 2px solid transparent;
        border-radius: 6px;
        padding: 8px 16px;
    }

    .menu-list__item + .menu-list__item {
        margin-left: 16px;
    }

    .menu-list__item:hover {
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        background-color: #FFFFFF;
    }

    .content-box {
        padding-top: 24px;
    }

    .box pre {
        width: 288px;
        height: 90px;
        font-family: "TT Lakes";
        white-space: pre-wrap;
        padding-left: 16px;
        overflow: hidden;
        line-height: 18px;
    }


    .box__read-more {
        font-size: 16px;
        color: #1B1C21;
        padding-left: 32px;
        font-weight: bold;
    }


    .box__read-more::before {
        content: url("images/icon.svg");
        position: relative;
        right: 10px;
    }

    .content__img {
        padding-top: 16px;
    }

}